<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Lite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- 로고에 메인 화면으로 연결되는 링크 추가 -->
<h1 class="text-center">
    <a href="/posts" class="text-decoration-none text-dark">Twitter Lite</a>
</h1>