<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Person Information</h1>
{{#person}}
    <p>이름: {{name}}</p>
    <p>나이: {{age}}</p>
    <p>주소: {{address}}</p>
{{/person}}
</body>
</html>