<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Person Information</h1>
    <p>이름: {{person.name}}</p>
    <p>나이: {{person.age}}</p>
    <p>주소: {{person.address}}</p>
</body>
</html>