<html>
<head>
    <title>
        템플릿 엔진으로 게시판 만들기
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
{{#banners}}
    <a href="{{url}}"><img src="{{image}}" width="100" height="40"></a>
{{/banners}}
</body>
</html>