{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <!--scope="col"은  th요소가  열  전체에  대해  헤더역할을  한다는  뜻-->
        <th scope="col">Id</th><th scope="col">Email</th> </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th><td>{{email}}</td> </tr>
    {{/member}}
    </tbody>
</table>
{{>layouts/footer}}