#map-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    height: calc(100vh - 10px); /* 네비게이션 바를 제외한 전체 높이 */
}

#map {
    width: 80%;              /* 창 너비의 80% */
    height: 60%;             /* 창 높이의 60% */
    max-width: 1000px;       /* 최대 너비 설정 */
    max-height: 800px;       /* 최대 높이 설정 */
}