nav {
  display: flex;
  justify-content: space-between; /* 헤더 요소 간격 */
  align-items: center; /* 정렬 */
}
.nav-item {
  margin-right: 15px; /* 각 nav-item 사이에 오른쪽 여백 추가 */
}

.nav-link {
  width: 100px; /* 너비를 100px로 설정 (원하는 값으로 변경 가능) */
  text-align: center; /* 텍스트를 중앙 정렬 */
}