<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 지도</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/map-styles.css">
    <script>
        const kakaoJsKey = "{{kakaoJsKey}}";
        const kakaoRestKey = "{{kakaoRestKey}}";
    </script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{kakaoJsKey}}&libraries=services,drawing"></script>
</head>
<body>
<div class="container my-4">
    <!-- 지도 -->
    <div class="map-container">
        <div id="map" class="map">지도</div>
    </div>

    <!-- 버튼들 -->
    <div class="buttons-container">
        <div class="buttons">
            <button class="btn btn-primary">평점순</button>
            <button class="btn btn-primary">경로탐색</button>
            <button class="btn btn-primary">마이페이지</button>
            {{#isLoggedIn}}
                <button class="btn btn-primary" onclick="location.href='/logout'">로그아웃</button>
            {{/isLoggedIn}}
            {{^isLoggedIn}}
                <button class="btn btn-primary" onclick="location.href='/login'">로그인</button>
            {{/isLoggedIn}}
        </div>
    </div>

    <input type="hidden" id="keyword-data" value="{{keyword}}">
    <script src="/js/map.js"></script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
