<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 지도</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        const kakaoJsKey = "{{kakaoJsKey}}";
        const kakaoRestKey = "{{kakaoRestKey}}";
    </script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{kakaoJsKey}}&libraries=services,drawing"></script>
</head>
<body>
<div class="container">
    <input type="hidden" id="keyword-data" value="{{keyword}}">
    <div id="map" class="map">지도</div>
    <script src="/js/map.js"></script>
    <div class="buttons">
        <button onclick="displayMapCenter()">현재 위치</button>
        {{#isLoggedIn}}
            <button onclick="location.href='/logout'">로그아웃</button>
        {{/isLoggedIn}}
        {{^isLoggedIn}}
            <button onclick="location.href='/login'">로그인</button>
            <button onclick="location.href='/users/create'">회원가입</button>
        {{/isLoggedIn}}
        <button>리뷰 작성</button>
        <button>평점 작성</button>
        <button>평점 순 나열</button>
        <button>경로 탐색</button>
    </div>
</div>
</body>
</html>
