<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>코딩하기 좋은 장소 찾기</title>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{kakaoApiKey}}&libraries=services"></script>
</head>
<body>
<div id="map-container">
    <div id="map" style="width:900px;height:600px;"></div>
    <div id="review-form-container">
        <div id="review-list"></div>
    </div>
</div>

<input type="hidden" id="keyword-data" value="{{keyword}}">
<button onclick="refreshMarkers()">지도 중심으로 새로고침</button>

<script src="/js/map.js"></script>
<script src="/js/review.js"></script>
</body>
</html>
