{{>layouts/header}}

<link rel="stylesheet" href="/css/map.css">

<!-- 지도 영역 -->
<div id="map-container">
    <div id="map"></div>
</div>

<!-- 사진 업로드 섹션 -->
<div class="upload-section">
    <button class="upload-btn">📷 흡연 구역 제보하기 </button>
    <input type="file" id="file-upload" accept="/image/*" style="display: none;">
</div>

{{>layouts/footer}}

<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey={{kakaoApiKey}}"></script>
<script src="scripts/map.js"></script>
